@media screen and (max-width: 992px) {
    .bar-area{
        display: flex;
    }
    ul.list-item{
        display: none;
    }
    .banner-area{
        flex-direction: column;
    }
    .calclution-content{
        grid-template-columns: 1fr;
    } 
    .run-container,.banner-area,.body-scale-container{
        grid-template-columns: 1fr;
   }
    #practice-muscle1{
        grid-column: span 9;
    }
    #practice-muscle2{
        grid-column: span 9;
    }
    #practice-muscle3{
        grid-column: span 9;
    }
    #practice-muscle4{
        grid-column: span 9;
    }
    #practice-muscle5{
        grid-column: span 9;
    }
    #practice-muscle6{
        grid-column: span 9;
    }
}
@media screen and (max-width: 768px) {
    .banner-content h1{
        font-size: 3rem;
    }
    .container{
        width: 90%;
    }
    #club{
        display: none;
    }
    .btn{
        font-size: 1rem;
        padding: 16px 42px;
    }
    .team-area{
        grid-template-columns: repeat(2,1fr);
    }
    .body-scale-content p{
        width: 100%;
    }
}

@media screen and (max-width: 567px) {
    .card-area,.team-area,.footer-area{
        grid-template-columns: 1fr;
    }
    .logo-footer{
        width: 100%;
    }
    .banner-content{
        margin-top: 30px;
    }
    .banner-info-image{
        background-position: left bottom;
    }
    .banner-content h1{
        width: 100%;
        line-height: 50px;
    }
    .banner-info-image{
        background-position: center bottom;
        width: 100%;
    }
    .banner-content h1 #ch-font{
        font-size: 6rem;
    }
    .btn{
        padding: 16px 20px;
    }
    .calculation-btn button{
        padding: 16px 35px;
        width: 80%;
    }
    .workout{
        top: 60px;
        right: 0;
        padding: 12px;
    }
    .workout h2{
        font-size: 1.6rem;
    }
    .workout p{
        font-size: 0.7rem;
    }
    video #para-color{
        font-size: 10px;
    }
    .run-title{
        width: 100%;
    }
    .run-title h2{
        font-size: 2.9rem;
    }
    .btn-experiance{
        width: 100%;
    }
    .card{
        padding-bottom: 50px;
    }
    .team-area{
        padding: 20px;
    }
    .team-member-1{
        display: none;
    }
    .team-member-4{
        display: none;
    }
    .download-btn{
        margin-left: 5px;
    }
}