@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama'); 
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
:root{
    --background-color: rgb(0, 0, 0);
    --header-bg: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(17, 17, 17,0.7) 100%);
    --color: #fff;
    --logo-btn-color: rgb(230, 83, 60);
    --section-bg:  rgb(34, 34, 34);
    --card-footer-color:  rgba(255, 255, 255, 0.1); 
    --paragraph-color: rgba(255, 255, 255, 0.5);
}
body{
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h2{
    font-size: 3rem;
    color: var(--color);
}
p{
    font-size: 1rem;
    color: var(--paragraph-color);
}
a{
    text-decoration: none;
}
.btn{
    padding: 16px 48px;
    color: var(--color);
    background-color: var(--logo-btn-color);
    border: 1px solid var(--logo-btn-color);
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0;
}
.flex-area{
    display: flex;
}
.container{ 
    width: 80%;
    margin: 0 auto;
}
/* Header Navber Area Start */
.header-area{
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(185, 185, 185,0.2),rgb(17, 17, 17) 100%);
    width: 100%;
}
.navber-area{
    justify-content: space-between;
    padding: 42px 0;
}
.nav-logo a{
    color: var(--logo-btn-color);
    font-size: 2.5rem;
    font-weight: 700;
}
ul.list-item{
    gap: 30px;
    border: 1px solid var(--card-footer-color);
    border-radius: 30px;
}
.list-item li{
    list-style: none;
}
.list-item li a{
    color: var(--color);
    padding: 12px 25px;
    display: block;
    border-radius: 25px;
    transition: all .5s;
}
.list-item li a:hover{
    background-color: var(--logo-btn-color);
}
#active{
    background-color: var(--logo-btn-color);
}
.bar-area{
    display: none;
}
.bar-area a i{
    color: #fff;
    font-size: 2rem;
    margin-top: 15px;
}
/* nav section End */
.banner-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.banner-content{
    margin-top: 100px;
}
.banner-content h1{
    font-size: 4.8rem;
    font-weight: 800;
    color: var(--color);
    line-height: 75px;
    width: 90%;
}
.banner-content h1 #ch-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 7.2rem;
    position: static;
}
.banner-content p{
    margin: 40px 0 20px;
}
#space-top{
    line-height: 50px;
    display: block;
}
.banner-info-image{
    background-image: url('../images/Images\ 2.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 600px;
    background-position: center bottom;
}
.download-btn{
    background-color: transparent;
    color: var(--color);
    border: 1px solid var(--color);
    transition:  .5s;
    margin-left: 10px;
}
.download-btn:hover{
    background-color: var(--logo-btn-color);
    border-color: var(--logo-btn-color);
    transition:  .5s;
}
.workout,.video{
    backdrop-filter: blur(15px);
    background-color: var(--card-footer-color);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 16px 20px;
    border-radius: 20px;
    display: inline-block;
}
.banner-button{
    position: relative;
}
.workout{
    position: absolute;
    top: 150px;
    right: 50px;
}
.video{
    position: absolute;
    top: 430px;
    left: 0;
    display: flex;
    align-items: center;
}
#circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--logo-btn-color);
    margin-right: 10px;
}
.workout h2{
    font-size: 2.2rem;
}
.workout p{
    line-height: normal;
}
.video span#point{
    color: var(--color);
    font-size: 1.3rem;
}
.video #para-color{
    color: var(--paragraph-color);
    font-weight: 400;
}
/* main habit area */
.habit-title{
    text-align: center;
    padding: 100px 0;
}
.card-area{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 20px;
}
.card img{
    border-radius: 50%;
    border: 1px solid var(--paragraph-color);
}
.card h3{
    margin-top: 20px;
}
.card{
    display: grid;
    justify-items: center;
    text-align: center;
    padding-bottom: 100px;
}
.card h3{
    color: var(--color);
}
/* Habit Area End */
.run-exercise-section{
    
}
.run-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    align-items: center;
    background-color: var(--section-bg);
    padding: 40px;
    border-radius: 20px;
}
.run-title{
    width: 80%;
}
.run-title h2{
    font-size: 3.2rem;
}
.run-title p{
    padding: 20px 0;
}
.run-image img{
    border-radius: 10px;
}
/* BMI Calcluter */
.clac-title-container{
    padding: 80px 0;
    width: 40%;
    margin: 0 auto;
}
table{
    color: var(--color);
    border-collapse: collapse;
    margin-bottom: 20px;
}
table tr,td,th{
    border: 1px solid #333;
    padding: 20px 15px;
}
table td{
    color: var(--paragraph-color)
}
table th{
    text-align: left;
}
.calclution-container{
    background-color: var(--section-bg);
    padding: 80px 0;
}
.calclution-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.calclution-content h3{
    color: var(--color);
    padding-bottom: 40px;
    font-size: 1.8rem;
}
.calculation-btn button{
    margin-top: 0px;
}
form{
    margin-top: 40px;
}
form input{
    display: block;
    padding: 20px 20px;
    width: 50%;
    background-color: #333;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
}
form .height-weight, .age-sex{
    gap: 20px;
}
form .age-sex select{
    width: 50%;
}
form .age-sex {
    margin: 20px 0;
    position: relative;
}
form .selection-activity{
    margin-bottom: 20px;
}
form .selection-activity select{
    width: 100%;
}
form .selection-activity{
    position: relative;
}
.select-style{
    padding: 20px 20px;
    background-color: #333;
    border-radius: 15px;
    border: none;
    font-size: 1.2rem;
    color: rgb(112,112,112);
    padding-right: 20px;
}
select{
    padding-right: 20px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.fas{
    color: var(--paragraph-color);
    position: absolute;
    right: 20px;
    top: 20px;
}
input:focus{
    color: var(--color);
}

/* calclution section End */

.team-section{
    padding-bottom: 100px;
}
.team-title{
    padding: 80px 0;
    text-align: center;
}
.team-area{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    background-color: var(--card-footer-color);
    padding: 30px;
    border-radius: 20px;
    width: 100%;
}
.team-member{
    position: relative;
}
.team-member img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: inset 300px 0 0 0 #fff;
}
.team-member img:hover::before{
    top: 100%;
}
.trainer-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.trainer-info h4{
    font-size: 1.2rem;
    color: var(--color);
}
/* Team Area End */
.footer-section{
    background-color: var(--card-footer-color);
    padding: 60px 0;
}
.footer-area{
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    gap: 30px;
}
.logo-footer{
    width: 60%;
}
.logo-footer h2{
    font-style: italic;
    color: var(--logo-btn-color);
}
.getting-start h3{
    font-size: 1.5rem;
    color: var(--color);
}
.get-items a{
    display: block;
    color: var(--paragraph-color);
    padding: 10px 0;
}
.footer-area a:hover{
    color: var(--logo-btn-color);
    transition: .5s;
}
.contact-area h3{
    font-size: 1.5rem;
    color: var(--color);
}
.contact-item i{
    color: var(--paragraph-color);
    padding: 10px 0;
    margin-right: 10px;
}
.contact-item a{
    color: var(--paragraph-color);
}
.footer-writer{
    padding-top: 150px;
}
hr{
    border: 1px solid var(--paragraph-color);
}
.footer-writer p small{
    color: var(--paragraph-color);
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 50px;
}
